.invoice-data-main-div {
  .btn-reject {
    background-color: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-reject:hover {
    background-color: transparent;
  }
}
