registry=https://registry.npmjs.org/
@grc:registry=https://pkgs.dev.azure.com/grctechllc/_packaging/grctechllc/npm/registry/
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=BE98A0E1-CF28-49CC-B2E4-83924E76C1EF
                        
always-auth=true