.not-ready-to-invoice-main-div {
  .update-note {
    background-color: #fff7ed;
    color: #c2410c;
    border: 1px solid #fed7aa;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 8px;
  }
}
