.send-for-approval-popup-main-div {
  .send-icon {
    font-size: 50px;
    color: #56a8f5;
  }

  .invoice-send-text {
    text-align: center;
  }

  .grc-btn-primary {
    width: 21.5rem !important;
    margin-top: 2rem;
  }
}
