.invoice-data-main-div {
  margin-top: 0.7rem;

  .preview-hold-buttons-div {
    justify-content: end;
    display: flex;
    margin-bottom: -2.2rem;
  }

  .dx-tabpanel-tabs {
    width: 60%;
  }
}
